@font-face {
  font-family: "Sans Serif";
  src: url("../fonts/ArialMT.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans Serif";
  src: url("../fonts/Arial-BoldMT.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sans Serif";
  src: url("../fonts/Arial-ItalicMT.woff") format("woff");
  font-weight: italic;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vollkorn";
  src: url("../fonts/Vollkorn-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
